.main {
  height: 100vh;
  background-image: url(https://img29.rajce.idnes.cz/d2903/17/17668/17668500_529bf2f821c6aa7025502a3b9e376475/images/1556826232?ver=0);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  /* color: #9a8a7880; */

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.text {
  text-align: center;
  /* padding: 50%; */
  padding: 20%;
}
.text span {
  display: inline-block;
  /* width: 100%; */
  background-color: rgba(38, 38, 38, 0.314);
  color: #fff;
  padding: 20px;
}
.text h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.text p {
  margin: 0;
  font-size: 20px;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images ul {
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .text {
    padding: 15%;
  }

  .text h1 {
    font-size: 25px;
  }

  .text p {
    font-size: 18px;
  }
}
.container {
  width: 100%;
  justify-content: center;
  display: flex;
}
.about {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  margin: 5%;
  border: 1px #9a8a78 solid;
}
.aboutText {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutText ul {
  /* margin: auto; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.aboutText li {
  padding: 8px;
}
.aboutText h1 {
  margin-bottom: 0;
}
.aboutText h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.aboutText p {
  margin: 10px 5px;
  text-align: left;
}
.about img {
  border: 1px #9a8a78 solid;
  width: 100%;
}
@media (max-width: 480px) {
  .text {
    padding-top: 30%;
  }

  .text h1 {
    font-size: 20px;
  }

  .text p {
    font-size: 16px;
  }
}
